<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<title>Collaber</title>
		<link rel="icon" type='image/pngn' href="{{url_for('static', filename='assets/images/bluelogo.png')}}">

		<script type="text/javascript" src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.6.0/js/okta-sign-in.min.js"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='assets/stylesheets/style.css')}}">
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
		<script type="text/javascript" src="{{url_for('static', filename='assets/javascripts/bundle.js')}}"></script>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<!-- <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.3.6/fabric.min.js'></script> -->
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.3.6/fabric.js'></script>
		<!-- <script src=“//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js”></script> -->
		<link type="text/css" rel="stylesheet" href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.6.0/css/okta-sign-in.min.css"/>
		<link type="text/css" rel="stylesheet" href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.6.0/css/okta-theme.css"/>
	</head>
	<body>
		<div id='root'></div>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
		<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="25zl8avsube2e22"></script>
	</body>
</html>