$color-darkblue: #2F425E;
$font-white: #ffffff;

.navbar{
	font-size: 24px;
  height: 6vh;
  display: flex;
  background-color: $color-darkblue;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  align-items: center;
  a{	
    display: flex;
    img{
      height: 30px;
      width: 30px;  
      margin-right: 15px;
    }
  }
  .header-buttons{
    flex:1;
    .share{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .message{
        padding: 5px 15px; 
        font-size: 12px;
        position: fixed;
        top: 70px;
        left: 33%;
        width: 33%;
        border-radius: 5px;
        background: rgba(10, 186, 181, 0.2);
        transition: all .8s;
        // background-color: #0abab5;
      }
      button{
        margin-right: 10px;
      }
    }
  }
  .share{
    display: flex;
    align-items: center;
  }
	i{
		margin-right: 10px;
	}
	a:hover{
		text-decoration: none;
		font-weight: bold;
	}
}