@import './reset';

.main{
	height: 100vh;
}

.session-main{
	height: 100%;
}

.session-form{
	width: 30%;
	margin: 200px auto;
	height: 20%;
	form{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
	
}
