@import './reset';
@import './header';
@import './servicenow';
@import './session';
@import './canvas';

$color-darkblue: #1C2A39;
$color-blue: #2F425E;
$font-white: #FFFFFF;
$font-hover: #278efc;

.main{
	height: 100vh;
  font-size: 14px;
}

button{
  padding: 7px 15px;
  color: $font-white;
  background-color: $color-darkblue;
  cursor: pointer;
  border-radius: 5px;
}

button:hover{
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  background-color: $color-blue;  
}

.img-group{
	position: fixed;
  bottom: 15px;
  left: 11vw;  
  margin: 0px auto;
	.img-container{
		float: left;
		width: 90px;
    height: 135px;
		margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    img{
      height: 100%;
      object-fit: cover;
    }
    img:hover{
      opacity: 0.5;
    }
	}
}

.buttons{
  position: fixed;
  bottom: 160px;
  left: 11vw
}

.canvas-main{
  display: flex;
  #sidebar {
    display: flex;
    flex-direction: column;
    height: 93vh;
    color: $font-white;
    background-color: $color-darkblue;
    li{
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      padding: 15px 10px;
      cursor: pointer;
      text-align: center;
      font-size: 14px;
      i{
        margin-right: 10px;
      }
    }
    li:hover{
      color: $font-hover;
    }
    .selected{
      background-color: white;
      color: $color-darkblue;
    }
  }

  .side-content-canvas{
    display: flex;
    flex: 1;
    #side-content {
      height: 70%;
      margin: 15px;
      border: solid 1px darkgrey;
      overflow: auto;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
      border-radius: 5px;
    }
    #side-content>div{
      height: 90%;
      min-width: 210px;
      margin: 15px;
      text-align: center;
      h2{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      select, input{
        padding: 8px;
        border-radius: 5px;
        overflow: hidden;
      }
      #shapes-list{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        li{
          cursor: pointer;
        }
        li.ui-selected{
          border-radius: 5px;
          background-color: lightgray;
          box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
        }
      }

      textarea{
        padding: 8px;
        border: 1px solid lightgray;
        border-radius: 4px;
        width: 95%;
        min-height: 200px;
        margin: 10px auto;
        resize: vertical;
        text-align: left;
      }

      .form-inline{
        display: flex;
        align-items:center;
        margin-bottom: 10px;
        label{
          font-weight: bold;
          text-align: left;
          font-size:14px;
          min-width: 40px;
          margin-right: 10px;
        }
      }
    }

    .shapes-item{
      padding: 5px;
      img{
        height: 50px;
        width: 50px;
      }
    }

    .selected-color {
      height: 30px;
      width: 30px;
      margin-left: 10px;
      border-radius: 5px;
      border: solid 1px black;
    }

    .container{
      flex: 1;
      height: 70%;
      margin-top: 15px;
      display: flex;
      canvas{
        box-shadow: 0 8px 6px -6px black;
      }
    } 
    
  }

   
}


.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.7);
}

.is_open{
  display: block;
}

.modal, .hidden{
  display: none;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}

