/* PHASE 0: Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Robot', sans-serif; }

ul {
  list-style: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: lightgray; }

label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"] {
  padding: 5px 10px; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

/* Clearfix */
.group::after {
  content: "";
  display: block;
  clear: both; }

.main {
  height: 100vh; }

.session-main {
  height: 100%; }

.session-form {
  width: 30%;
  margin: 200px auto;
  height: 20%; }
  .session-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
    .session-form form input {
      width: 94%; }

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .alert span:last-of-type {
    cursor: pointer; }

.navbar {
  font-size: 24px; }
  .navbar i {
    margin-right: 10px; }
  .navbar a:hover {
    text-decoration: none;
    font-weight: bold; }

.canvas-container {
  width: 100%;
  margin: 50px auto;
  display: flex; }
  .canvas-container canvas {
    box-shadow: 0 8px 6px -6px black; }

#sidebar {
  position: fixed;
  width: 6vw;
  display: flex;
  flex-direction: column;
  height: 93vh;
  background-color: lightgray; }

#sidebar > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 4vh; }

#sidebar > .selected {
  background-color: white; }

.nav-text {
  margin-top: 10px;
  font-size: 12px; }

.nav-link > i {
  font-size: 25px; }

.nav-link > * {
  display: block;
  text-align: center; }

li > .nav-link {
  border-radius: 3px;
  color: var(--primary-color);
  width: auto; }

#side-content {
  position: absolute;
  left: 7vw;
  width: 18vw;
  height: 66vh;
  border: solid 1px darkgrey;
  overflow: auto; }

.tab-pane > label, .tab-pane > #button-wrapper {
  width: 100%;
  text-align: center; }

.tab-pane > label {
  margin-top: 1vh; }

#layouts-list, #shapes-list, #templates-list {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 0; }

.layouts-item, .shapes-item, .templates-item {
  list-style: none; }

#shapes-list .ui-selected {
  border-radius: 2px;
  background-color: lightgray; }

.shapes-item > img {
  height: 6vh;
  width: 3.25vw; }

.selected-color {
  height: 30px;
  width: 30px;
  border-radius: 2px;
  border: solid 1px black; }

/*# sourceMappingURL=style.css.map */
