/* PHASE 0: Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: "Robot", sans-serif;
}

ul {
  list-style: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: lightgray;
}

label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type=password],
input[type=email],
input[type=text] {
  padding: 5px 10px;
}

input[type=password],
input[type=email],
input[type=text],
input[type=submit],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type=submit] {
  cursor: pointer;
}

/* Clearfix */
.group::after {
  content: "";
  display: block;
  clear: both;
}

.navbar {
  height: 6vh;
  display: flex;
  color: #FFFFFF;
  background-color: #2F425E;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
}
.navbar a {
  display: flex;
  font-size: 24px;
  font-weight: bold;
}
.navbar a img {
  height: 30px;
  width: 30px;
  margin-right: 15px;
}
.navbar .header-buttons {
  flex: 1;
}
.navbar .header-buttons .share {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar .header-buttons .share .message {
  padding: 5px 15px;
  font-size: 12px;
  position: fixed;
  top: 80px;
  left: 33%;
  width: 33%;
  border-radius: 5px;
  background: rgba(10, 186, 181, 0.2);
  transition: all 0.8s;
}
.navbar .header-buttons .share button, .navbar .header-buttons .share a.btn, .navbar .header-buttons .share a.dropbox-dropin-btn {
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  margin-right: 10px;
  text-align: center;
}
.navbar .header-buttons .share button:hover, .navbar .header-buttons .share a.btn:hover {
  color: #278efc;
  border: 1px solid #278efc;
}
.navbar .share {
  display: flex;
  align-items: center;
}
.navbar i {
  margin-right: 10px;
}
.navbar a:hover {
  text-decoration: none;
  font-weight: bold;
}

#table_left {
  border-radius: 7px;
  overflow: hidden;
  z-index: 15;
  position: fixed;
  left: 33%;
  top: 100px;
  width: 33%;
  font-size: 14px;
  background-color: #2F425E;
  color: #FFFFFF;
  animation: slide 2s forwards;
  -webkit-animation: slide 2s forwards;
}
#table_left .loading {
  z-index: 17;
  height: 100px;
  width: 100px;
}
#table_left tr.normal {
  cursor: pointer;
  background-color: #1C2A39;
}
#table_left tr.wv-pl td {
  display: flex;
}
#table_left tr.wv-pl td span {
  width: 100px;
}
#table_left tr.wv-pl td #input-level {
  border-bottom: 1px solid #59687E;
}
#table_left tr.wv-pl td .input {
  border: none;
  color: #FFFFFF;
  background: transparent;
}
#table_left tr.wv-pl td .send-service-button {
  width: 100px;
  margin: 0 auto;
}
#table_left tr.wv-pl td .send-service-button > button {
  background-color: #5F7BF0;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  padding: 3px;
  text-align: center;
}
#table_left tr.wv-pl td .send-service-button > button:hover {
  font-weight: bold;
  background-color: #3e5cd8;
}
#table_left tr.wv-pl td select {
  flex: 1;
}
#table_left tr.wv-pl td select option {
  background-color: #2F425E;
}

.session-main {
  height: 300%;
  margin: 100px auto;
}
.session-main h2 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 48px;
}

.session-form {
  width: 30%;
  margin: 200px auto;
  height: 20%;
}
.session-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.session-form form input {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 8px 10px;
  width: 94%;
}
.session-form small {
  font-size: 10px;
}
.session-form small a {
  color: #278efc;
}
.session-form small a:hover {
  text-decoration: underline;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alert span:last-of-type {
  cursor: pointer;
}

.main {
  height: 100vh;
}

.img-group {
  position: fixed;
  bottom: 0px;
  left: 10vw;
  margin: 0px auto;
}
.img-group .img-container {
  float: left;
  width: 90px;
  height: 135px;
  margin-right: 10px;
}
.img-group .img-container img {
  height: 100%;
  object-fit: cover;
}

.buttons {
  position: fixed;
  bottom: 150px;
  left: 10vw;
}

.container {
  position: fixed;
  left: 25vw;
  width: 75vw;
  height: 66vh;
  margin-top: 50px;
  display: flex;
}
.container canvas {
  box-shadow: 0 8px 6px -6px black;
}

#sidebar {
  position: fixed;
  width: 6vw;
  display: flex;
  flex-direction: column;
  height: 93vh;
  background-color: lightgray;
}

#sidebar > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 4vh;
}

#sidebar > .selected {
  background-color: white;
}

.nav-text {
  margin-top: 10px;
  font-size: 12px;
}

.nav-item {
  cursor: pointer;
}
.nav-item i {
  font-size: 25px;
}

.nav-item:hover {
  color: #007bff;
}

.nav-item > * {
  display: block;
  text-align: center;
}

#dialog textarea {
  padding: 3px 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 90%;
  margin: 10px auto;
}

#side-content {
  position: absolute;
  left: 7vw;
  width: 18vw;
  height: 66vh;
  margin-top: 50px;
  border: solid 1px darkgrey;
  overflow: auto;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.tab-pane > label, .tab-pane > #button-wrapper {
  width: 100%;
  text-align: center;
}

.tab-pane > label {
  margin-top: 1vh;
}

#layouts-list, #shapes-list, #templates-list {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 0;
}

.layouts-item, .shapes-item, .templates-item {
  list-style: none;
}

#shapes-list .ui-selected {
  border-radius: 5px;
  border: 2px solid gray;
  background-color: lightgray;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.shapes-item {
  padding: 3px;
}

.shapes-item > img {
  height: 50px;
  width: 50px;
}

.selected-color {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  border-radius: 5px;
  border: solid 1px black;
}

.form-signin span {
  font-size: 10px;
  color: red;
  padding: 10px 5px;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.7);
}

.is_open {
  display: block;
}

.modal, .hidden {
  display: none;
}

.share-canvas {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 25%;
  width: 50%;
  background-color: white;
  border-radius: 5px;
  transition: all 0.8s;
}
.share-canvas form {
  width: 60%;
  font-size: 14px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}
.share-canvas form div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.share-canvas form input {
  border-radius: 3px;
  flex: 1;
  border: 1px solid lightgray;
}
.share-canvas form span {
  padding-left: 50px;
  font-size: 10px;
  color: red;
  height: 15px;
  transition: all 0.8s;
}
.share-canvas form label {
  width: 50px;
  height: 15px;
  margin: 0;
}
.share-canvas form select {
  background: none;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid lightgray;
  height: 33px;
  flex: 1;
}

.form-inline {
  align-items: center;
}
.form-inline label {
  font-size: 14px;
  width: 60px;
}
.form-inline #text-size {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 5px 10px;
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}
@keyframes slide {
  100% {
    right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
