$black: #3e3e3b;
$color-darkblue: #4c586f;
$color-blue: #a2aab0;
$gray: #cbc5c1;
$font-white: #ebeced;
$font-hover: #cbc5c1;
$hover: #0099fe;


.chat-area{
	z-index: 3;
	position: fixed;
	top: 0;
	right: -400px;
	transition: right .8s;
	height: 100vh;
	width: 400px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);

	.channel-list{
		flex: 1;
		width: 100%;
		.channel-tabs{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			overflow: auto;
			margin-top: 7px;
			border-bottom: 1px solid $gray;
			li{
				padding: 7px 10px;
				border-radius: 0 7px 0 0;
				border-top: 1px solid $gray;
				border-right: 1px solid $gray;
				font-size: 12px;
				cursor: pointer;
				i{
					font-size: 10px;
				}
			}
			li.selected{
				background-color: $gray;
				color: white;
  			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
			}
		}
	}
	form{
		display: flex;
		flex-direction: row;
		padding: 7px 0;
		border-top: 1px solid $gray;
		i{
			margin: 0 7px;
		}
		input{
			flex: 1;
		}
		input:focus .fa-search{
			color: $hover;
			transition: all .8s;
		}
	}
	
	.chat{
		position: fixed;
		bottom: -220px;
		transition: bottom 0.8s;
		height: 250px;
		width: 400px;
		border-top: 1px solid $gray;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.header{
			cursor: pointer;
			padding: 5px 0;
			height: 25px;
			display: flex;
			background-color: $gray;
  		box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
			align-items: center;
			justify-content: space-between;
			img{
	      height: 40px;
	      width: 50px;
	    }
			i{
				margin: 0 15px;
			}
		}
		.notification{
	    width: 100%;
	    background-color: rgba(255, 0, 0, .2);
	    text-align: center;
	    display: flex;
	    justify-content: center;
	    font-size: 12px;
	    padding: 5px 0;
	    color: #333;
	  }
	  .userlist{
	  	height: 120px;
	  	padding: 10px;
	  	flex: 1;
	  	.user{
	  		width: 100%;
	  		display: flex;
	  		flex-direction: row;
	  		align-items: center;
	  		cursor: pointer;
	  		.avatar{
	  			font-size: 18px;
	  			background-color: lightgray;
	  			border-radius: 50%;
	  			padding: 5px 9px;
	  			margin-right: 5px;
	  			margin-bottom: 5px;
	  			text-align: center;
	  		}
	  		.avatar:hover{
	  			background-color: $color-darkblue;
	  			color: white;
	  		}
	      span:hover{
	  		  font-weight: bold;
	      }
	    }
	  }
	}
	.chat-active{
		bottom: 0;
		transition: bottom .8s;
	}
}

.chat-area-active{
	right: 0;
	transition: all .8s;
}